{% extends 'base.html' %}

{% block content %}
<div style="background-image:url(../../static/images/marvel-legends-2021-4k-zx.jpg); background-position: center; background-size: 100%; background-repeat: no-repeat;">
    <h1 style="padding-left: 305px;">Sign Up Here</h1>
    <main class="container">
        <div class="row">
            <aside class="col-12 col-md-6">
                <h2>Sign Up New Free Account</h2>
                {% include 'forms.html' %}
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
            </aside>
        </div>
    </main>
</div>
{% endblock content %}